<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active"><a routerLink="pacientes/listar" class="nav-link">Clinica Modern</a></li>
            <li class="nav-item active">
                <a routerLink="pacientes/listar" class="nav-link">Pacientes</a>
            </li>
            <li class="nav-item active">
                <a routerLink="doctores/listar" class="nav-link">Doctores</a>
            </li>

            <li class="nav-item active">
                <a routerLink="especialidades/listar" class="nav-link">Especialidades</a>
            </li>




        </ul>
    </div>
</nav>
<router-outlet></router-outlet>